<p>catlist works!</p>
<table class="table table-stripped table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Category List</th>
           
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of catList">
        <td>{{c.catId}}</td>
        <td>{{c.catname}}</td>
        <td><a routerLink="/details/{{c.catId}}">Details</a></td>
        <td><a routerLink="/edit/{{c.catId}}">Edit</a></td>         
      </tr>
          </tbody>
  </table>